{% extends 'base.html' %}

{% block title %}Excluir Motorista - Frotas{% endblock %}

{% block content %}
<div class="card">
    <h1>Excluir Motorista</h1>
    
    <div class="confirm-box">
        <p>Tem certeza que deseja excluir o motorista <strong>{{ motorista.nome }}</strong> ({{ motorista.get_tipo_carteira_display }})?</p>
    </div>
    
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-delete">Sim, Excluir</button>
        <a href="{% url 'motorista_list' %}" class="btn btn-back margin-left">Cancelar</a>
    </form>
</div>
{% endblock %}
